{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(barcodeForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(barcodeForm) }}

                {{ form_end(barcodeForm) }}
            </div>
        </div>
    </div>
{% endblock %}