{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('barcode_create', {id: ticket.id}) }}" class="btn btn-primary">
                    Add another barcode to this ticket
                </a>
                <h2>Barcodes for ticket # {{ ticket.id }}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Barcode</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for barcode in barcodes %}
                        <tr>
                            <th scope="row">{{ barcode.id }}</th>
                            <td>{{ barcode.barcode }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}