{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <small class="form-text text-muted">If no one bought this yet, just save the empty form.</small>
                {{ form_start(ticketForm) }}
                    {{ form_widget(ticketForm) }}
                {{ form_end(ticketForm) }}
            </div>
        </div>
    </div>
{% endblock %}