{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('ticket_create') }}" class="btn btn-primary">Create Ticket</a>

            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Bought by</th>
                        <th scope="col">Bought At</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <th scope="row">{{ ticket.id }}</th>
                            <td>{{ ticket.username is not null ? ticket.username : 'N/A' }}</td>
                            <td>{{ ticket.boughtAtDate is not null ? ticket.boughtAtDate | date('Y-m-d H:i:s'): 'N/A'  }}</td>
                            <td>
                                <a href="{{ path('barcode_create', {id: ticket.id}) }}">Add Barcodes</a> /
                                <a href="{{ path('barcode_list', {id: ticket.id}) }}">List Barcodes</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}