{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Add tickets to your listing</h2>
                {{ form_start(listingTicketForm, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_errors(listingTicketForm) }}
                    {{ form_row(listingTicketForm.barcode) }}
                    {{ form_row(listingTicketForm.listing, {'value': listing.id}) }}
                    {{ form_row(listingTicketForm.add) }}
                {{ form_end(listingTicketForm) }}
            </div>
        </div>
    </div>
{% endblock %}