{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('add_ticket_listing', {id: listing.id}) }}" class="btn btn-primary">
                    Add another ticket to this listing
                </a>
                <h2>Tickets for listing # {{ listing.id }}: {{ listing.description }}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Bought by</th>
                        <th scope="col">Bought at</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <th scope="row">{{ ticket.id }}</th>
                            <td>{{ ticket.username is not null ? ticket.username : 'N/A' }}</td>
                            <td>{{ ticket.boughtAtDate is not null ? ticket.boughtAtDate | date('Y-m-d H:i:s'): 'N/A'  }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}