{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('listing_create') }}" class="btn btn-primary">Create Listing</a>

            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                        <tr>
                            <th scope="row">{{ listing.id }}</th>
                            <td>{{ listing.price }}</td>
                            <td>{{ listing.description }}</td>
                            <td>{{ listing.username }}</td>
                            <td><a href="{{ path('add_ticket_listing', {id : listing.id}) }}">Add Tickets</a> /
                                <a href="{{ path('listing_tickets', {id : listing.id}) }}">List Tickets</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}