{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(userForm) }}

                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}